= form_tag '/login', :class => "navbar-form navbar-right" do
  %div.form-group
    = text_field_tag 'username', nil, :placeholder =>'Username/Email', :autofocus => true, :class => "form-control"
  %div.form-group
    = password_field_tag 'password', nil, :placeholder => 'Password', :class => "form-control"
  = submit_tag 'Login', :class => "btn btn-success"