- if @user.errors.any?
  .alert.alert-info.alert-dismissable.col-12-lg.col-12-md.col-12-sm.container.text-center
    ==<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    - @user.errors.full_messages.each do |msg|
      %h5
        = msg
%p
  Welcome to the NeighbourFood community.
  %br/
  For the master chefs out there, you are only one step away to being able to share your masterpieces with your neighbours.
  %br/
  For the busy-bees, who are tired of eating out every day, get connected and start enjoying home-cooked meals courtesy of your neighbours.
  %br/
= render partial: "form"