- if @user.errors.any?
  .alert.alert-info.alert-dismissable.col-12-lg.col-12-md.col-12-sm.container.text-center
    ==<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    - @user.errors.full_messages.each do |msg|
      %h5
        = msg

= render partial: "form"