%h1
	About
.about-section
%h3 WHAT IS NEIGHBOURFOOD ALL ABOUT?
%p
	Neighbourfood is a trusted global community that invites people to purchase meals from your local neighbourhood. Guests can connect with talented cooks and get easy access to home cooked meals.
%p
	As you explore the site, you'll discover talented cooks and a wide variety of inspiring dishes! You can contact our cooks and learn more about their offerings, schedule a pickup or make a request of a meal they previously made. After each meal, you should rate your experience and write a review. This way, you will be helping to make sure cooks get the feedback and recognition they deserve. And other Neighbourfood users can benefit from your experience.
%h4
	Our Vision: To bring people together one meal at a time.
.about-section
%h3 DO YOU LOVE TO HOST?
%p
	Neighbourfood offers you an easy way to help your local community and show off your skills. Build a reputation as your local master chef.