* {
  font-family: 'Tienne', serif;
}



ul {
  list-style: none;
}

/*.search-box {
  padding: 0;
  margin: 0;
}*/
.search {
  width: 60%;
  border-radius: 10px;
  display: inline;
}

#distance {
  width: 14%;
}

.submit {
  width: 25%;
  display: inline;
  border-radius: 10px;
  background-color: white;
  padding: 5px;

}

.glyphicon {
  position: static;
}

.left {
  min-width: 120px;
}

.short-field {
  max-width: 400px;
}

/***********************
  Meal preview on homepage
***********************/
.box {
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  border: 1px solid;
}

.preview-meal img {
  border-bottom: 5px solid;
  padding-bottom: 15px;
  width: 100%;

}

.preview-details {
  padding-top: 10px;
  margin: 0 auto;
}
.preview ul, li {
  display: inline;
}

.name {
  font-size: 30px;
  text-align: left;
}

.preview-meal .price {
  float: right;
  font-size: 20px;
}

/***********************
  Show individual meal CSS
***********************/

.main {
  text-align: center;
}

.about {
  background-color: rgba(254,211,108,0.3);
  padding-bottom: 20px;
  padding-top: 20px;
}

.about img {
  border-radius: 50px;
}

.images {
  background-color: rgba(254,159,59,0.3);
  padding-bottom: 20px;
  padding-top: 20px;
}

.chef {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgba(254,211,108,0.3);
  font-size: 1em;
}

/***********************
  Show orders CSS
***********************/
table {
  border: 3px solid black;
  margin-bottom: 20px;
  text-align: center;
}
th {
  text-align: center;
}
td {
  padding-bottom: 20px;
}
.first, .third {
  width: 30%;
}

.second, .sixth {
  width: 20%;
}

.fourth, .fifth {
  width: 10%;
}

/***********************
  Show individual order CSS
***********************/

.label {
  color: black;
}

/***********************
  Show individual order CSS
***********************/

footer {
  padding-top: 60px;
  height: 200px;
  background: rgb(0,0,0);
  color: white;
  text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

