* {
  font-family: 'Noto Sans', sans-serif;;
}

ul {
  list-style: none;
}

.search {
  width: 60%;
  border-radius: 10px;
  display: inline;
}

#distance {
  width: 14%;
}

.submit {
  width: 25%;
  display: inline;
  border-radius: 10px;
  background-color: white;
  padding: 5px;

}

.glyphicon {
  position: static;
}

.left {
  min-width: 120px;
}

.short-field {
  max-width: 400px;
}

/***********************
  Meal preview on homepage
***********************/
.box {
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  border: 1px solid;
}

.preview-meal img {
  border-bottom: 5px solid;
  padding-bottom: 15px;
  width: 100%;

}

.preview-details {
  padding-top: 10px;
  margin: 0 auto;
}
.preview ul, li {
  display: inline;
}

.name {
  font-size: 30px;
  text-align: left;
}

.preview-meal .price {
  font-size: 20px;
}

/***********************
  Show individual meal CSS
***********************/

.main {
  text-align: center;
}

.about img {
  border-radius: 50px;
}

.images {
  padding-bottom: 20px;
  padding-top: 20px;
}

.chef {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgba(254,211,108,0.3);
  font-size: 1em;
}

.chef img{
  border-radius: 50%;
}

.price {
  float: right;
}

.panel-title {
  font-size: 30px;
}

.panel-body {
  padding-top: 0;
  padding-bottom: 10px;
}
.buy a, a:hover{
  text-decoration: none;
  color: white;
}

.buy.price {
  margin-top: 2px;
}
.buy {
  -moz-box-shadow:inset 1px 0px 7px 0px #97c4fe;
  -webkit-box-shadow:inset 1px 0px 7px 0px #97c4fe;
  box-shadow:inset 1px 0px 7px 0px #97c4fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #428aca), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #428aca 5%, #1e62d0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#428aca', endColorstr='#1e62d0');
  background-color:#428aca;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #337fed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:42px;
  line-height:42px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 9px 9px #1570cd;
}
.buy:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #428aca) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #428aca 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#428aca');
  background-color:#1e62d0;
}.buy:active {
  position:relative;
  top:1px;
}

.control {
  -moz-box-shadow:inset 1px 0px 7px 0px #f5978e;
  -webkit-box-shadow:inset 1px 0px 7px 0px #f5978e;
  box-shadow:inset 1px 0px 7px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:42px;
  line-height:42px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 9px 9px #810e05;
}
.control:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
}.control:active {
  position:relative;
  top:1px;
}

/***********************
  Show orders CSS
***********************/
table {
  border: 3px solid black;
  margin-bottom: 20px;
  text-align: center;
}
th {
  text-align: center;
}
td {
  padding-bottom: 20px;
}
.first, .third {
  width: 30%;
}

.second, .sixth {
  width: 20%;
}

.fourth, .fifth {
  width: 10%;
}

.requested-order{
  color: green;
}
/***********************
  Show individual order CSS
***********************/

.label {
  color: black;
}

/***********************
  Show individual order CSS
***********************/

footer {
  padding-top: 60px;
  height: 200px;
  background: rgb(0,0,0);
  color: white;
  text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

.about-section {
  border-top: 3px solid;
  border-bottom: 3px solid;
}
